                    // Common Codes

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

@mixin common__btn {
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    padding: 16px 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: transparent;
    transition: all linear 0.3s;

    &:hover {
        color: #1B1C2B;
        background-color: #FCD980;
    }
}

@mixin peragraph {
    color:  #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

@mixin workHead {
    color: #282938;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
}

@mixin heading {
    color: #282938;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

@mixin ProjectHeading {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

                    // Common Codes

                    // Navbar Codes
#navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .nav__wrapper {
        padding: 32px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            width: 20%;
        }
        .main {
            width: 60%;
            .main__ul{
                display: flex;
                column-gap: 32px;
                justify-content: flex-end;

                li a {
                    color: #BBBBCB;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 28px; 
                    transition: all linear 0.3s;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
        .nav__btn {
            width: 20%;
            text-align: right;
            a {
                @include common__btn;
            }
        }
    }
}
                    // Navbar Codes

                    // Banner Codes
#banner {
    background-color: #1C1E53;
    .banner__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 218px;
        position: relative;

        h1 {
            width: 582px;
            color: #FFF;
            font-size: 54px;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            line-height: 74px;
            padding-bottom: 24px;
        }
        p {
            @include peragraph;
            width: 562px;
            padding-bottom: 48px;
        }
        .banner__btn{
            padding-bottom: 128px;
            a {
                &:nth-child(1) {
                    @include common__btn;
                    background-color: #FCD980;
                    color: #1B1C2B;
                }
                &:nth-child(2) {
                    @include common__btn;
                    border: transparent;
                    i {
                        margin-left: 10px;
                    }
                }
            }
        }
        .banner__img {
            position: absolute;
            top: 34%;
            right: 3%;
            img {
                width: 600px;
            }
        }
    }
}
                    // Banner Codes

                    // Work Codes
#work {
    background: #F4F6FC;
    .work__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 128px 0;
        .work__content {
            h2 {
                @include heading;
            }
            p {
                @include peragraph;
                color: rgba(40, 41, 56, 0.7);
                padding: 16px 0;
                width: 405px;
            }
            a {
                color: #2405F2;
                font-family: 'Poppins', sans-serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 32px;
                i {
                    margin-left: 10px;
                }
            }
        }
        .work__icon__wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 48px;
            justify-content: center;
            
            .work__icon__item {
                img {
                    padding-bottom: 16px;
                }
                h2 {
                    padding-bottom: 8px;
                    @include workHead;
                }
                p {
                    @include peragraph;
                    color: rgba(40, 41, 56, 0.7);
                    width: 303px;
                }
            }
        }
    }
}
                    // Work Codes

                    // Projects Codes
#project {
    .project__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 128px;
        padding-bottom: 64px;
        h2 {
            @include heading;
        }
        a {
            @include common__btn;
            color: #282938;
            &:hover {
                color: #fff;
                background-color: rgba(255, 0, 0, 0.7);
            }
        }
    }
    .project__img__wrapper {
        display: flex;
        column-gap: 32px;
        padding-bottom: 128px;

        .project__main__img {
            position: relative;
            overflow: hidden;
            width: 1700px;
            height: 600px;
            &:hover .overlay {
                top: 0;
                left: 0;
                opacity: 1;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .overlay {
                position: absolute;
                top: 0;
                left: -396px;
                width: 396px;
                height: 600px;
                background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
                padding: 312px 35px 76px 48px;
                transition: all linear 0.3s;
                opacity: 0;

                h2 {
                    @include ProjectHeading;
                    padding-bottom: 16px;
                }
                p {
                    @include peragraph;
                    color: rgba(255, 255, 255, 0.7);
                    padding-bottom: 40px;
                }
                a {
                    @include peragraph;
                    color: #FCD980;
                }
            }
        }
        .project__side__img {
            .img__one {
                width: 405px;
                height: 284px;
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                margin-bottom: 32px;

                &:hover .overlay_2{
                    opacity: 1;
                }
                .overlay_2 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 405px;
                    height: 284px;
                    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
                    padding: 129px 36px 45px 56px;
                    transition: all linear 0.3s;
                    opacity: 0;
    
                    h2 {
                        @include ProjectHeading;
                        padding-bottom: 16px;
                        width: 292px
                    }
                    a {
                        @include peragraph;
                        color: #FCD980;
                    }
                }
            }
            .img__two {
                width: 405px;
                height: 284px;
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:hover .overlay_2{
                    opacity: 1;
                }
                .overlay_2 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 405px;
                    height: 284px;
                    background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
                    padding: 129px 36px 45px 56px;
                    transition: all linear 0.3s;
                    opacity: 0;
    
                    h2 {
                        @include ProjectHeading;
                        padding-bottom: 16px;
                        width: 292px
                    }
                    a {
                        @include peragraph;
                        color: #FCD980;
                    }
                }
            }
        }
    }
}
                    // Projects Codes

                    // Feature Codes
#feature {
    background-color: #F4F6FC;
    padding-bottom: 128px;
    .feature__heading {
        padding-top: 128px;
        padding-bottom: 40px;
        h4 {
            @include peragraph;
            font-weight: 500;
            text-align: center;
            color:#282938;
        }
        h2 {
            @include heading;
            text-align: center;
            width: 630px;
            margin: 0 auto;
        }
    }
    .feature__Wrapper {
        display: flex;
        column-gap: 31px;
        row-gap: 24px;
        flex-wrap: wrap;
        .feature__item {
            background-color: #fff;
            width: 406px;
            height: 316px;
            padding: 58px 32px 48px 48px ;
            img {
                padding-bottom: 23px;
            }
            h3 {
                color: #282938;
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                font-weight: 500;
                line-height: 36px;
            }
            p {
                @include peragraph;
                color: rgba(40, 41, 56, 0.7);
                width: 325px;
                padding-top: 12px;
            }
        }
    }
}
                    // Feature Codes

                    // Clients Codes
#client {
    padding: 130px 0 106px 0;
    background-color: #F4F6FC;
    border: 1px solid rgba(0, 0, 0, 0.5);

    .client__wrapper {
        display: flex;
        column-gap: 110px;
        .client__texts {
            h2 {
                @include heading;
                width: 327px;
                padding-bottom: 16px;
                font-size: 38px;
                line-height: 56px;
            }
            p {
                @include peragraph;
                width: 327px;
                color: rgba(40, 41, 56, 0.7);
            }
        }
        .client__comments {
            h3 {
                color:#282938;
                font-family: 'Poppins', sans-serif;
                font-size: 32px;
                font-weight: 500;
                line-height: 48px;
                width: 843px;
                padding-bottom: 48px;
            }
            .client__info {
                display: flex;
                column-gap: 10px;
                .client__msg {
                    h4 {
                        color: #282938;
                        font-family: 'Poppins', sans-serif;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 32px;
                    }
                    h3 {
                        color:#282938;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 28px;
                        font-family: 'Poppins', sans-serif;
                    }
                }
            }
        }
    }
}
                    // Clients Codes
